Repository ECube-Reboot/LiveOn-Reborn-iOS, pull requests merged in 2022-08, with the labels that each got.

#20 [Refactor] 달력 Refactoring
  liveOnReboot/liveOn/Extensions/Calendar+Extension.swift
  liveOnReboot/liveOn/Extensions/Date+Extension.swift
  liveOnReboot/liveOn/Model/Calendar/CalendarModel.swift
  liveOnReboot/liveOn/Model/Calendar/UpcomingEventsModel.swift
  liveOnReboot/liveOn/Resource/Assets.xcassets/AccentColor.colorset/Contents.json
  liveOnReboot/liveOn/View/Calendar/AddUpcomingEventView.swift
  liveOnReboot/liveOn/View/Calendar/CalendarView.swift
  liveOnReboot/liveOn/View/Calendar/PopupDateView.swift
  liveOnReboot/liveOn/View/Calendar/UpcomingEventsView.swift
  liveOnReboot/liveOn/ViewModel/Calendar/CalendarViewModel.swift
  liveOnReboot/liveOn/ViewModel/Calendar/DateToStringUpcomingEventsViewModel.swift
  liveOnReboot/liveOn/ViewModel/Calendar/EventStoreViewModel.swift
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
Labels: 🗓 Calender, 👑 Min

#31 [Feat] 폴라로이드 사진 선물 서버 통신 및 세부 디자인 수정
  liveOnReboot/.DS_Store
  liveOnReboot/liveOn/Network/Gift/Picture/DTO/PictureDTO.swift
  liveOnReboot/liveOn/Network/Gift/Picture/EndPoint/PictureEndPoint.swift
  liveOnReboot/liveOn/Network/Gift/Picture/Service/PictureService.swift
  liveOnReboot/liveOn/Util/Literal/textLimit.swift
  liveOnReboot/liveOn/View/SendGift/SendPicture/SendPictureView.swift
Labels: 📸 Photo, 🐭 Rookie

#33 [Feat] 회원 가입 정보 입력 뷰
  liveOnReboot/liveOn/Extensions/Date+Extension.swift
  liveOnReboot/liveOn/Model/LogIn/LogInModel.swift
  liveOnReboot/liveOn/Model/SignIn/AppleUser.swift
  liveOnReboot/liveOn/Model/SignIn/SignInUser.swift
  liveOnReboot/liveOn/Util/Literal/SignInLiteral.swift
  liveOnReboot/liveOn/View/SignIn/GettingStartView.swift
  liveOnReboot/liveOn/View/SignIn/InputBirthDayView.swift
  liveOnReboot/liveOn/View/SignIn/InputNickNameView.swift
  liveOnReboot/liveOn/View/SignIn/InputOfficialDateView.swift
  liveOnReboot/liveOn/View/SignIn/SignInLayoutView.swift
  liveOnReboot/liveOn/View/SignIn/SignInView.swift
  liveOnReboot/liveOn/ViewModel/SignIn/AuthenticationViewModel.swift
  liveOnReboot/liveOnReboot.entitlements
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
Labels: 🖥 UI, 🐿 Milli

#32 [Refactor] 쪽지 Api 업데이트 반영
  liveOnReboot/liveOn/Model/Gift/Letter/Letter.swift
  liveOnReboot/liveOn/Network/Gift/Letter/DTO/LetterDTO.swift
  liveOnReboot/liveOn/Util/Literal/letterColorStyle.swift
  liveOnReboot/liveOn/View/Gift/Letter/LetterListView.swift
  liveOnReboot/liveOn/View/SendGift/SendLetter/SendLetterView.swift
  liveOnReboot/liveOn/ViewModel/Gift/Letter/LetterViewModel.swift
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
Labels: 🖇 API, 🖥 UI, 🐿 Milli

#39 [Feat] Upcoming Events 관련 UI 수정 및 달력 스와이프 이동 기능 추가
  liveOnReboot/liveOn/.DS_Store
  liveOnReboot/liveOn/Extensions/Calendar+Extension.swift
  liveOnReboot/liveOn/Extensions/Date+Extension.swift
  liveOnReboot/liveOn/Extensions/DatePicker+Extension.swift
  liveOnReboot/liveOn/View/Calendar/AddUpcomingEventView.swift
  liveOnReboot/liveOn/View/Calendar/CalendarView.swift
  liveOnReboot/liveOn/View/Calendar/PopupDate.swift
  liveOnReboot/liveOn/View/Calendar/UpcomingEventsView.swift
  liveOnReboot/liveOn/liveOnRebootApp.swift
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
Labels: 🗓 Calender, 👑 Min

#35 [Feat] 메인 선물함 View & 선물 제작 리스트 View UI 구현
  .gitignore
  liveOnReboot/liveOn/Extensions/BackButton+Extension.swift
  liveOnReboot/liveOn/Model/Gift/Flower/Flower.swift
  liveOnReboot/liveOn/Model/Gift/Flower/FlowerModel.swift
  liveOnReboot/liveOn/Resource/Assets.xcassets/GiftBox/bubble.imageset/Contents.json
  liveOnReboot/liveOn/Resource/Assets.xcassets/GiftBox/bubble.imageset/bubble.pdf
  liveOnReboot/liveOn/View/Gift/Flower/FlowerView.swift
  liveOnReboot/liveOn/View/GiftBox/GiftBoxView.swift
  liveOnReboot/liveOn/View/GiftList/GiftListView.swift
  liveOnReboot/liveOn/View/SendGift/SendFlower/SendFlowerView.swift
  liveOnReboot/liveOn/liveOnRebootApp.swift
Labels: 💐 Flower, 😬 teemo

#43 [Feat] 커플 정보 및 환경설정 뷰 UI
  liveOnReboot/liveOn/View/CoupleInformation/ChangeNickNameView.swift
  liveOnReboot/liveOn/View/CoupleInformation/ChangeOfficialDateView.swift
  liveOnReboot/liveOn/View/CoupleInformation/CoupleInformationView.swift
  liveOnReboot/liveOn/View/CoupleInformation/SettingView.swift
  liveOnReboot/liveOn/View/CoupleInformation/WithdrawalRequestView.swift
  liveOnReboot/liveOn/View/GiftBox/GiftBoxView.swift
  liveOnReboot/liveOn/View/GiftList/GiftListView.swift
  liveOnReboot/liveOn/View/WebView.swift
  liveOnReboot/liveOnReboot-Info.plist
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
Labels: 🖥 UI, 🐿 Milli

#45 [FEAT] 애플로그인 및 로그인 api 연동
  liveOnReboot/liveOn/Network/Auth/DTO/InviteCodeRequestDTO.swift
  liveOnReboot/liveOn/Network/Auth/DTO/LoginRequestDTO.swift
  liveOnReboot/liveOn/Network/Auth/DTO/LoginResponseDTO.swift
  liveOnReboot/liveOn/Network/Auth/EndPoint/AuthEndPoint.swift
  liveOnReboot/liveOn/Network/Auth/Service/AuthService.swift
  liveOnReboot/liveOn/Network/Config/APIEnvironment.swift
  liveOnReboot/liveOn/Network/Config/LoginDTO.swift
  liveOnReboot/liveOn/Network/Gift/Picture/Service/PictureService.swift
  liveOnReboot/liveOn/Util/KeyChain.swift
  liveOnReboot/liveOn/View/SignIn/GettingStartView.swift
  liveOnReboot/liveOn/ViewModel/SignIn/AppleSignInViewModel.swift
  liveOnReboot/liveOn/ViewModel/SignIn/AuthenticationViewModel.swift
  liveOnReboot/liveOn/ViewModel/SignIn/SignInViewModel.swift
  liveOnReboot/liveOn/liveOnRebootApp.swift
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
Labels: 🅴 Enhancement, 🖇 API, 🐲 Daon, 🔑 SignIn

#44 [FEAT] voicemail ui partly completed
  liveOnReboot/liveOn/Extensions/Color+Extension.swift
  liveOnReboot/liveOn/Extensions/Date+Extension.swift
  liveOnReboot/liveOn/Model/Gift/VoiceMail/Recording.swift
  liveOnReboot/liveOn/Model/Gift/VoiceMail/Voicemail.swift
  liveOnReboot/liveOn/View/Gift/VoiceMail/CreateVoicemailView.swift
  liveOnReboot/liveOn/View/Gift/VoiceMail/SingleVoicemailView.swift
  liveOnReboot/liveOn/View/Gift/VoiceMail/VoicemailPopUpView.swift
  liveOnReboot/liveOn/View/Gift/VoiceMail/VoicemailView.swift
  liveOnReboot/liveOn/View/GiftBox/GiftBoxView.swift
  liveOnReboot/liveOn/ViewModel/Gift/VoiceMail/VoicemailViewModel.swift
  liveOnReboot/liveOn/liveOnRebootApp.swift
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
  liveOnReboot/liveOnReboot.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🖥 UI, 🧢 Id, 🎤 Voicemail

#47 [Feat] 회원가입 정도에 따른 첫화면 분기처리
  liveOnReboot/liveOn/Extensions/BackButton+Extension.swift
  liveOnReboot/liveOn/Extensions/NavigationController+Extension.swift
  liveOnReboot/liveOn/Model/SignIn/UserStatus.swift
  liveOnReboot/liveOn/Network/Auth/DTO/PostMemberInformationRequestDTO.swift
  liveOnReboot/liveOn/Network/Auth/EndPoint/AuthEndPoint.swift
  liveOnReboot/liveOn/Network/Auth/Member/MemberConfigService.swift
  liveOnReboot/liveOn/Network/Auth/Service/AuthService.swift
  liveOnReboot/liveOn/View/SignIn/EnterCodeView.swift
  liveOnReboot/liveOn/View/SignIn/GettingStartView.swift
  liveOnReboot/liveOn/View/SignIn/InputOfficialDateView.swift
  liveOnReboot/liveOn/View/SignIn/InviteCodeView.swift
  liveOnReboot/liveOn/ViewModel/SignIn/SignInViewModel.swift
  liveOnReboot/liveOn/liveOnRebootApp.swift
  liveOnReboot/liveOnReboot.xcodeproj/project.pbxproj
Labels: 🖇 API, 🐿 Milli

#52 fix: 사진 선물하기 관련 코드 수정 및 사진 선물 없을 때 default 처리
  liveOnReboot/.DS_Store
  liveOnReboot/liveOn/View/Gift/Picture/PictureListView.swift
  liveOnReboot/liveOn/View/GiftList/GiftListView.swift
  liveOnReboot/liveOn/View/SignIn/InviteCodeView.swift
  liveOnReboot/liveOn/ViewModel/Gift/Picture/PictureViewModel.swift
Labels: 🐞 bug, 🐭 Rookie

#48 [Feat] 꽃 관련 뷰 UI 작업 일부 완료 & 앱 아이콘 수정
  liveOnReboot/liveOn/Model/Gift/Flower/FlowerModel.swift
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/100.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/128.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/144.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/152.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/16.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/167.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/172.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/196.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/20.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/216.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/256.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/32.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/48.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/50.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/512.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/55.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/64.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/72.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/76.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/88.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/AppIcon_ver_05_120px.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/AppIcon_ver_05_180px.png
  liveOnReboot/liveOn/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  liveOnReboot/liveOn/View/Gift/Flower/FlowerView.swift
  liveOnReboot/liveOn/View/GiftBox/GiftBoxView.swift
Labels: 🖥 UI, 💐 Flower, 😬 teemo
